@import "tailwindcss";
@font-face {
  font-family: Nunito;
  src: url("./font/Nunito.ttf") format("truetype");
}
@theme {

  --font-nunito: "Nunito", sans-serif;
  /* breakpoint */
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

}
@custom-variant dark (&:where(.dark, .dark *));
